<?xml version="1.0" encoding="UTF-8"?>
<text_art>
<character ID=" "> 
 
 
 
 
 </character>
    <character ID="A">░█████╗░
██╔══██╗
███████║
██╔══██║
██║░░██║
╚═╝░░╚═╝</character>
    <character ID="B">██████╗░
██╔══██╗
██████╦╝
██╔══██╗
██████╦╝
╚═════╝░</character>
    <character ID="C">░█████╗░
██╔══██╗
██║░░╚═╝
██║░░██╗
╚█████╔╝
░╚════╝░</character>
    <character ID="D">██████╗░
██╔══██╗
██║░░██║
██║░░██║
██████╔╝
╚═════╝░</character>
    <character ID="E">███████╗
██╔════╝
█████╗░░
██╔══╝░░
███████╗
╚══════╝</character>
    <character ID="F">███████╗
██╔════╝
█████╗░░
██╔══╝░░
██║░░░░░
╚═╝░░░░░</character>
    <character ID="G">░██████╗░
██╔════╝░
██║░░██╗░
██║░░╚██╗
╚██████╔╝
░╚═════╝░</character>
    <character ID="H">██╗░░██╗
██║░░██║
███████║
██╔══██║
██║░░██║
╚═╝░░╚═╝</character>
    <character ID="I">██╗
██║
██║
██║
██║
╚═╝</character>
    <character ID="J">░░░░░██╗
░░░░░██║
░░░░░██║
██╗░░██║
╚█████╔╝
░╚════╝░</character>
    <character ID="K">██╗░░██╗
██║░██╔╝
█████═╝░
██╔═██╗░
██║░╚██╗
╚═╝░░╚═╝</character>
    <character ID="L">██╗░░░░░
██║░░░░░
██║░░░░░
██║░░░░░
███████╗
╚══════╝</character>
    <character ID="M">███╗░░░███╗
████╗░████║
██╔████╔██║
██║╚██╔╝██║
██║░╚═╝░██║
╚═╝░░░░░╚═╝</character>
    <character ID="N">███╗░░██╗
████╗░██║
██╔██╗██║
██║╚████║
██║░╚███║
╚═╝░░╚══╝</character>
    <character ID="O">░█████╗░
██╔══██╗
██║░░██║
██║░░██║
╚█████╔╝
░╚════╝░</character>
    <character ID="P">██████╗░
██╔══██╗
██████╔╝
██╔═══╝░
██║░░░░░
╚═╝░░░░░</character>
    <character ID="Q">░██████╗░
██╔═══██╗
██║██╗██║
╚██████╔╝
░╚═██╔═╝░
░░░╚═╝░░░</character>
    <character ID="R">██████╗░
██╔══██╗
██████╔╝
██╔══██╗
██║░░██║
╚═╝░░╚═╝</character>
    <character ID="S">░██████╗
██╔════╝
╚█████╗░
░╚═══██╗
██████╔╝
╚═════╝░</character>
    <character ID="T">████████╗
╚══██╔══╝
░░░██║░░░
░░░██║░░░
░░░██║░░░
░░░╚═╝░░░</character>
    <character ID="U">██╗░░░██╗
██║░░░██║
██║░░░██║
██║░░░██║
╚██████╔╝
░╚═════╝░</character>
    <character ID="V">██╗░░░██╗
██║░░░██║
╚██╗░██╔╝
░╚████╔╝░
░░╚██╔╝░░
░░░╚═╝░░░</character>
    <character ID="W">░██╗░░░░░░░██╗
░██║░░██╗░░██║
░╚██╗████╗██╔╝
░░████╔═████║░
░░╚██╔╝░╚██╔╝░
░░░╚═╝░░░╚═╝░░</character>
    <character ID="X">██╗░░██╗
╚██╗██╔╝
░╚███╔╝░
░██╔██╗░
██╔╝╚██╗
╚═╝░░╚═╝</character>
    <character ID="Y">██╗░░░██╗
╚██╗░██╔╝
░╚████╔╝░
░░╚██╔╝░░
░░░██║░░░
░░░╚═╝░░░</character>
    <character ID="Z">███████╗
╚════██║
░░███╔═╝
██╔══╝░░
███████╗
╚══════╝</character>
    <character ID="0">░█████╗░
██╔══██╗
██║░░██║
██║░░██║
╚█████╔╝
░╚════╝░</character>
    <character ID="1">░░███╗░░
░████║░░
██╔██║░░
╚═╝██║░░
███████╗
╚══════╝</character>
    <character ID="2">██████╗░
╚════██╗
░░███╔═╝
██╔══╝░░
███████╗
╚══════╝</character>
    <character ID="3">██████╗░
╚════██╗
░█████╔╝
░╚═══██╗
██████╔╝
╚═════╝░</character>
    <character ID="4">░░██╗██╗
░██╔╝██║
██╔╝░██║
███████║
╚════██║
░░░░░╚═╝</character>
    <character ID="5">███████╗
██╔════╝
██████╗░
╚════██╗
██████╔╝
╚═════╝░</character>
    <character ID="6">░█████╗░
██╔═══╝░
██████╗░
██╔══██╗
╚█████╔╝
░╚════╝░</character>
    <character ID="7">███████╗
╚════██║
░░░░██╔╝
░░░██╔╝░
░░██╔╝░░
░░╚═╝░░░</character>
    <character ID="8">░█████╗░
██╔══██╗
╚█████╔╝
██╔══██╗
╚█████╔╝
░╚════╝░</character>
    <character ID="9">░█████╗░
██╔══██╗
╚██████║
░╚═══██║
░█████╔╝
░╚════╝░</character>
</text_art>